# Visual Studio
.vs/
bin/
obj/

# User specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Logs
*.log

# Temp files
*.tmp
*.cache

# NuGet packages
packages/
*.nupkg

# IIS Express
*.dbmdl
*.pdb

# Visual Studio cache
*.VC.db

# Rider / VS Code (por si algún día cambias IDE)
.idea/
.vscode/

# Node
node_modules/

# OS files
.DS_Store
Thumbs.db